# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Plugins.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\FRI\1_letnik_MAG\IOI\Projekt\IOI_Projekt\Assets\Assets\Plugins\.idea\.idea.Plugins.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
